appnope==0.1.0
astroid==2.5
asttokens==2.4.1
awscli==1.25.38
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
boto3==1.24.38
botocore==1.27.38
certifi==2023.7.22
chardet==3.0.4
charset-normalizer==3.3.1
colorama==0.3.7
coverage==4.5.1
Cython==0.29.36
decorator==4.3.0
docutils==0.14
enum34==1.1.6
executing==2.0.1
funcsigs==1.0.2
idna==2.6
ipdb==0.11
ipython==8.10.0
ipython-genutils==0.2.0
isort==5.12.0
jedi==0.19.1
jmespath==0.9.3
lazy-object-proxy==1.9.0
matplotlib-inline==0.1.6
mccabe==0.6.1
mock==2.0.0
nose2==0.7.4
parso==0.8.3
pathlib2==2.3.2
pbr==4.0.2
pexpect==4.5.0
pickleshare==0.7.4
prompt-toolkit==3.0.39
ptyprocess==0.5.2
pure-eval==0.2.2
pyasn1==0.4.2
Pygments==2.15.0
pylint==2.6.0
pylint-plugin-utils==0.6
python-dateutil==2.7.3
PyYAML==5.3.1
requests==2.31.0
rsa==4.7
s3transfer==0.6.0
scandir==1.10.0
simplegeneric==0.8.1
six==1.12.0
stack-data==0.6.3
tabulate==0.8.2
toml==0.10.2
traitlets==5.13.0
urllib3==1.26.18
wcwidth==0.1.7
wrapt==1.12.1
