modules @ git+ssh://git@github.com/basepair/django_bootstrap.git@feature/minio-compatibility#subdirectory=www/modules_pkg

appnope==0.1.0
awscli==1.25.38
boto3==1.24.38
backports.shutil-get-terminal-size==1.0.0
certifi==2023.7.22
chardet==3.0.4
colorama==0.3.7
coverage==4.5.1
decorator==4.3.0
docutils==0.14
enum34==1.1.6
funcsigs==1.0.2
idna==2.6
ipdb==0.13.13
ipython==8.10.0
ipython-genutils==0.2.0
jmespath==0.9.3
mock==2.0.0
nose2==0.7.4
pathlib2==2.3.2
pbr==4.0.2
pexpect==4.5.0
pickleshare==0.7.4
ptyprocess==0.5.2
pyasn1==0.4.2
Pygments==2.15.0
pylint==2.6.0
pylint-plugin-utils==0.6
python-dateutil==2.7.3
PyYAML==5.4.1
requests==2.31.0
rsa==4.7
s3transfer==0.6.0
scandir==1.10.0
simplegeneric==0.8.1
six==1.12
traitlets==5.13.2
wcwidth==0.1.7
tabulate==0.8.2
